block scripts
	script(src="scripts/jquery-1.12.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
	script(src='scripts/main.js')
	footer.footer
