head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block title
        title Title
        meta(name="description" content="Description")
        meta(name="keywords" content="Keywords")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block stylesheets
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='styles/style.css')